

body {background-color: rgb(2, 2, 23);}

h1 {color: aliceblue;
text-align: center;
font-family:cursive}

h3 {color: aliceblue;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {color: aliceblue;
text-align: center;
font-size: 18px;}

ol {color: rgb(39, 235, 183);}

ul {color: rgb(39, 227, 76);}

table {color: aliceblue;}

p.picture {
    text-align: center;
}

th, td {
    border-color: aqua;
    border-style:double;
}

table {
    border-collapse:collapse;
}

